html,
body {
  padding: 0;
  margin: 0;
  height: 100vh;
  width: 100vh;
}

body {
  width: 100%;
  color: #FCFAFA;
  display: flex;
}

#sidebar {
  background-color: #658864;
  height: 100vh;
  margin: 0;
  min-width: 300px;
  max-width: 400px;
  padding: 1.5rem;
  align-items: center;
}

#sidebar h2 {
  padding: 0;
  margin: 0;
  margin-bottom: 1rem;
}

li a {
  text-decoration: none;
  color: #FCFAFA;
  vertical-align: middle;
}

li {
  padding-bottom: 1rem;
  padding-top: 1rem;
  align-items: center;
}

li svg {
  margin-right: 8px;
  width: 10%;
  height: 10%;
}

ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

ul ul {
  padding: 0;
  margin: 0;
}

ul ul li {
  padding-left: 1.5rem;
  margin-left: 1.5rem;
}

li:hover {
  padding-bottom: 1rem;
  padding-top: 1rem;
  align-items: center;
  border-radius: 10px;
  opacity: 0.5;
}

#list-pembeli {
  background-color: aqua;
  display: inline;
  height: 100vh;
  min-width: fit-content;
}

#chat-interface {
  display: inline;
  background-color: antiquewhite;
  width: 100vh;
}

#chat-interface header {
  background-color: brown;
}

header #info {
  background-color: aliceblue;
}

footer {
  position: bottom;
}