body {
  font-family: 'Montserrat', sans-serif;
  background-color: #FCFAFA;
  margin: 0;
  padding: 0;
  height: 100vh;
}



.sidebar{
  height: 100vh;
  padding-top: 1rem;
  background-color: #658864 !important;
}

.sidebar h6 {
  color: #FFFFFF !important;
  font-weight: bold;
  font-size: x-large;
}

.sidebar p {
  color: #FFFFFF !important;
  font-weight: bold;
}

.sidebar .nav-link {
  color: #FFFFFF;
  background-color: #658864;
  font-weight: 500;
}

.sidebar .nav-link:hover {
  background-color: #444444;
  
}

.sidebar .sidebar-heading {
  font-size: 0.9rem;
  color: #888;
}

.dropdown-menu{
  background-color: #FFFFFF ;
}



.chat-interface {
  height: 80vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: #FFFFFF;
  border-radius: 8px;
  border: 1px solid #dedede;
  padding: 2rem;
}

.header-logo {
  display: flex;
  align-items: center;
}
.header-logo img {
  margin-right: 10px;
}

/* Ensure sidebar takes up full height on smaller screens */
@media (max-width: 768px) {
  .sidebar {
    height: auto;
  }
}

/* Adjust main content area to prevent overflow */
main {
  overflow-y: auto;
  padding-bottom: 2rem;
}



/* Card styles for each message */
.example-messages .card {
  border: 1px solid #ddd;
  border-radius: 5px;
}

/* Additional padding for message text */
.example-messages .card .card-text {
  margin-bottom: 0.5rem;
}

/* Adjust empty message text styling */
#emptyMessage {
  font-size: 1rem;
  color: #888;
  font-weight: 500;
}
