body {
  font-family: 'Montserrat', sans-serif;
  background-color: #FCFAFA;
  margin: 0;
  padding: 0;
  height: 100vh;
  display: flex;
  flex-direction: row; 
}

.header-logo h1 {
  font-weight: bold;
  font-size: 3rem;
}

.header-logo img {
  margin-right: auto;
  width: 120px;
}

.sidebar {
  background-color: #658864 !important;
  width: 34vh;
  min-height: 100vh; 
  padding-top: 1rem;
  display: flex;
  flex-direction: column; 
  position: sticky;
  top: 0;
}

.sidebar h6 {
  color: #FFFFFF !important;
  font-weight: bold;
  font-size: x-large;
}

.sidebar p {
  color: #FFFFFF !important;
  font-weight: bold;
}

.sidebar .nav-link {
  color: #FFFFFF;
  background-color: #658864;
  font-weight: 500;
}

.sidebar .nav-link:hover {
  background-color: #444444;
}

.sidebar .sidebar-heading {
  font-size: 0.9rem;
  color: #888;
}

.dropdown-menu {
  background-color: #FFFFFF;
}

.filters-bar {
  margin-bottom: 20px;
  width: 170vh;
}

.chat-interface {
  height: 70vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: #FFFFFF;
  border-radius: 8px;
  border: 1px solid #dedede;
  padding: 2rem;
  flex-grow: 1; 
  overflow-y: auto; 
}

.header-logo {
  display: flex;
  align-items: center;
}

.header-logo img {
  margin-right: 10px;
}

.example-messages .card {
  border: 1px solid #ddd;
  border-radius: 5px;
  width: 169vh;
}

.example-messages .card .card-text {
  margin-bottom: 1rem;
}

#emptyMessage {
  font-size: 1rem;
  color: #888;
  font-weight: 500;
  width: auto;
  display: none;
}
